@tailwind base;
@tailwind components;
@tailwind utilities;

tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

td, th {
    width: 100px;
    text-align: center;
}